<div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-4">

        <img src="/image/Logo.png" class="Logo">

        <div class="alert alert-success" role="alert">
            Invoice deleted successfully
        </div>

        <br />
        <div align="center">
            <form asp-action="Home">
                <input align="center" type="submit" value="Back" class="btn btn-success" />
            </form>
        </div>
    </div>

    <div class="col-md-4"></div>

</div>