@model Domain.Dtos.BillInfo

@{
    ViewData["Title"] = "Edit";
}


<div class="row">

    <div class="col-md-4"> </div>


    <div class="col-md-4">

        <img src="/image/Logo.png" class="Logo">

        <h4 class="whiteText">Edit Invoce</h4>
        <hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control textData" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control textData" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control textData" min="@DateTime.Now" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <input asp-for="PaymentType" class="form-control" />
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountTotal" class="control-label"></label>
                <input asp-for="DiscountTotal" class="form-control" />
                <span asp-validation-for="DiscountTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxTotal" class="control-label"></label>
                <input asp-for="TaxTotal" class="form-control" />
                <span asp-validation-for="TaxTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <input asp-for="PersonId" class="form-control" />
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxId" class="control-label"></label>
                <input asp-for="TaxId" class="form-control" />
                <span asp-validation-for="TaxId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountId" class="control-label"></label>
                <input asp-for="DiscountId" class="form-control" />
                <span asp-validation-for="DiscountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamePerson" class="control-label"></label>
                <input asp-for="NamePerson" class="form-control" />
                <span asp-validation-for="NamePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumenPerson" class="control-label"></label>
                <input asp-for="DocumenPerson" class="form-control" />
                <span asp-validation-for="DocumenPerson" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" align="center">
                <input type="submit" value="Save" class="btn btn-primary" align="center" />
            </div>
        </form>
        <br />
        <div align="center">
            <form asp-action="Home">
                <input align="center" type="submit" value="Back" class="btn btn-success" />
            </form>
        </div>

    </div>


    <div class="col-md-4"> </div>

</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
